<section class="review-party section">
    <div class="container">
        <header class="review-party__header">
            <h2 class="review-party__header-title title title--h2 has-subtitle">{{ 'Third-Party Review Scores (April 2026)'|trans }}</h2>
        </header>

        {# Mobile cards #}
        <div class="review-party__cards">
            {# Capterra #}
            <div class="review-party__card">
                <div class="review-party__card-header">
                    <h3 class="review-party__card-header-title title title--h3">Capterra</h3>
                    <div class="review-party__card-header-rating"><img src="{{ asset('build/images/icons/stars-row.svg') }}" alt="{{ 'Stars icon'|trans }}" /></div>
                </div>
                <ul class="review-party__card-list">
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">SimplyBook.me</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.6/5</p>
                        <p class="review-party__card-item-reviews p p--small">(1,281 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">Calendly</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.7/5</p>
                        <p class="review-party__card-item-reviews p p--small">(4,082 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">Setmore</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.6/5</p>
                        <p class="review-party__card-item-reviews p p--small">(958 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">{{ 'Acuity Scheduling'|trans }}</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.8/5</p>
                        <p class="review-party__card-item-reviews p p--small">(5,740 {{ 'reviews'|trans }})</p>
                    </li>
                </ul>
            </div>
            {# Trustpilot #}
            <div class="review-party__card">
                <div class="review-party__card-header">
                    <h3 class="review-party__card-header-title title title--h3">Trustpilot</h3>
                    <div class="review-party__card-header-rating"><img src="{{ asset('build/images/icons/stars-row.svg') }}" alt="{{ 'Stars icon'|trans }}" /></div>
                </div>
                <ul class="review-party__card-list">
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">SimplyBook.me</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.4/5</p>
                        <p class="review-party__card-item-reviews p p--small">(764 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">Calendly</p>
                        <p class="review-party__card-item-rate p p--bold highlight">2.9/5</p>
                        <p class="review-party__card-item-reviews p p--small">(464 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">Setmore</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.9/5</p>
                        <p class="review-party__card-item-reviews p p--small">(3,093 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">{{ 'Acuity Scheduling'|trans }}</p>
                        <p class="review-party__card-item-rate p p--bold highlight">3.7/5</p>
                        <p class="review-party__card-item-reviews p p--small">(432 {{ 'reviews'|trans }})</p>
                    </li>
                </ul>
            </div>
            {# G2 #}
            <div class="review-party__card">
                <div class="review-party__card-header">
                    <h3 class="review-party__card-header-title title title--h3">G2</h3>
                    <div class="review-party__card-header-rating"><img src="{{ asset('build/images/icons/stars-row.svg') }}" alt="{{ 'Stars icon'|trans }}" /></div>
                </div>
                <ul class="review-party__card-list">
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">SimplyBook.me</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.4/5</p>
                        <p class="review-party__card-item-reviews p p--small">(118 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">Calendly</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.7/5</p>
                        <p class="review-party__card-item-reviews p p--small">(2,615 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">Setmore</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.5/5</p>
                        <p class="review-party__card-item-reviews p p--small">(268 {{ 'reviews'|trans }})</p>
                    </li>
                    <li class="review-party__card-item">
                        <p class="review-party__card-item-title p p--bold">{{ 'Acuity Scheduling'|trans }}</p>
                        <p class="review-party__card-item-rate p p--bold highlight">4.6/5</p>
                        <p class="review-party__card-item-reviews p p--small">(~407 {{ 'reviews'|trans }})</p>
                    </li>
                </ul>
            </div>
        </div>

        {# Desktop table #}
        <div class="compare-table compare-table--reviews">
            <div class="compare-table__row compare-table__row--first">
                <div class="compare-table__column compare-table__column--first">
                    <p class="compare-table__column-title title title--h3">{{ 'Platform'|trans }}</p>
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold">SimplyBook.me</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold">Calendly</p>
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold">Setmore</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold">{{ 'Acuity Scheduling'|trans }}</p>
                </div>
            </div>
            {# Capterra #}
            <div class="compare-table__row">
                <div class="compare-table__column compare-table__column--first">
                    <p class="p p--small">Capterra</p>
                    <img src="{{ asset('build/images/icons/stars-row.svg') }}" class="compare-table__column-rating" alt="{{ 'Stars row'|trans }}" />
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold highlight">4.6/5</p>
                    <p class="compare-table__column-title p p--small">(1,281 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold highlight">4.7/5</p>
                    <p class="compare-table__column-title p p--small">(4,082 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold highlight">4.6/5</p>
                    <p class="compare-table__column-title p p--small">(958 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold highlight">4.8/5</p>
                    <p class="compare-table__column-title p p--small">(5,740 {{ 'reviews'|trans }})</p>
                </div>
            </div>
            {# Trustpilot #}
            <div class="compare-table__row">
                <div class="compare-table__column compare-table__column--first">
                    <p class="p p--small">Trustpilot</p>
                    <img src="{{ asset('build/images/icons/stars-row.svg') }}" class="compare-table__column-rating" alt="{{ 'Stars row'|trans }}" />
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold highlight">4.4/5</p>
                    <p class="compare-table__column-title p p--small">(764 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold highlight">2.9/5</p>
                    <p class="compare-table__column-title p p--small">(464 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold highlight">4.9/5</p>
                    <p class="compare-table__column-title p p--small">(3,093 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold highlight">3.7/5</p>
                    <p class="compare-table__column-title p p--small">(432 {{ 'reviews'|trans }})</p>
                </div>
            </div>
            {# G2 #}
            <div class="compare-table__row">
                <div class="compare-table__column compare-table__column--first">
                    <p class="p p--small">G2</p>
                    <img src="{{ asset('build/images/icons/stars-row.svg') }}" class="compare-table__column-rating" alt="{{ 'Stars row'|trans }}" />
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold highlight">4.4/5</p>
                    <p class="compare-table__column-title p p--small">(118 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold highlight">4.7/5</p>
                    <p class="compare-table__column-title p p--small">(2,615 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column compare-table__column--colored">
                    <p class="compare-table__column-title p p--bold highlight">4.5/5</p>
                    <p class="compare-table__column-title p p--small">(268 {{ 'reviews'|trans }})</p>
                </div>
                <div class="compare-table__column">
                    <p class="compare-table__column-title p p--bold highlight">4.6/5</p>
                    <p class="compare-table__column-title p p--small">(~407 {{ 'reviews'|trans }})</p>
                </div>
            </div>
        </div>

        <p class="p p--small p--secondary" style="margin-top: 20px; text-align: center;">{{ 'Sources: capterra.com, trustpilot.com, g2.com. Verified April 2026.'|trans }}</p>
    </div>
</section>
